[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/zhannicholas/minimo
[submodule "public"]
	path = public
	url = git@github.com:zhannicholas/zhannicholas.github.io.git
	branch = master
